<div class="dark:bg-gray-950">
  <div class="container mx-auto py-14">
  <h2 class="text-center font-bold text-4xl mb-10 dark:text-white">Contact Us</h2>
  <p class="text-center text-gray-700 dark:text-gray-400">We'd love to hear from you! Fill out the form below and we'll get back to you as soon as possible.</p>
  <div class="form flex flex-col w-3/4 mx-auto dark:bg-white p-6 rounded-lg shadow-md mt-10 bg-gray-950">
    <label for="" class="mb-2 dark:text-gray-950 text-white">Your Name</label>
    <input type="text" class="rounded-lg mb-8 ps-6" placeholder="Enter your name">
    <label for="" class="mb-2 dark:text-gray-950 text-white">Email Address</label>
    <input type="text" class="rounded-lg mb-8 ps-6" placeholder="Enter your email">
    <label for="" class="mb-2 dark:text-gray-950 text-white">Your Message</label>
    <textarea name="" id="" class="rounded-lg mb-8 ps-6 min-h-32" placeholder="Write your message here..."></textarea>
    <button class="px-6 py-2 bg-green-900 text-white rounded-md self-center">Send Message</button>
  </div>
</div>

</div>
