<footer class="bg-gray-900">

  <div class="container mx-auto flex justify-between items-center py-14">
    <div class="footer-button py-3 px-5 bg-gray-700 rounded-md">
      <a href="" class="flex items-center space-x-4">
        <div class="btn-logo">
          <fa-icon [icon]="faAppStore" class="text-amber-50 text-3xl"></fa-icon>
        </div>
        <div class="btn-text text-white">
          <p class="text-[12px]">Available on the</p>
          <h2>App Store</h2>
        </div>
      </a>
    </div>
    <div class="footer-icons space-x-2">
      <a href=""><fa-icon [icon]="faFacebook" class="text-white"></fa-icon></a>
      <a href=""><fa-icon [icon]="faTwitter" class="text-white"></fa-icon></a>
      <a href=""><fa-icon [icon]="faLinkedin" class="text-white"></fa-icon></a>
      <a href=""><fa-icon [icon]="faYoutube" class="text-white"></fa-icon></a>
    </div>
  </div>
</footer>
